[submodule "documents/Moderne-Physik"]
	path = documents/Moderne-Physik
	url = https://github.com/parttimenerd/Moderne-Physik
[submodule "documents/NeuralNets"]
	path = documents/NeuralNets
	url = https://github.com/Marvin182/NeuralNets.git
